{% extends 'logged_out_base.html' %}
{% block content %}

	<div class="container-fluid">
		<div class="home-container07">
			<h1 class="home-text06">
			  <span>Expand your network.</span>
			  <br />
			  <br />
			  <span>Get more opportunities.</span>
			  <br />
			  <br />
			</h1>
			<a class="primary-button-container" href="{{url_for('login')}}">
			  <button type="button" class="btn btn-primary">Get Started</button>
			</a>
		  </div>
		</div>
	</div>

	<h1></h1>
	<br/>
	<div class="container-sm">
		<h2 class="Headline2 home-text10"></h2>
		<span class="home-text11">
		  <span class="home-text12">
			
		  </span>
		</span>

		<div class="row">

			<div class="col">
				<div class="card" >
					<img
					alt="image"
					src="{{url_for('static', filename='images/people_icon.png')}}"
					class="container-fluid"
					width="100"
					/>
					<div class="card-body">
						<h5 class="card-title">Manage your relationships</h5>
						<p class="card-text">
							Keep in touch with your network
					</div>
				</div>
			</div>

			<div class="col gap-2 column-gap-3">
				<div class="card">
					<img
					alt="image"
					src="{{url_for('static', filename='images/chart_icon.svg')}}"
					class="container-fluid"
					width="50"
					/>
					<div class="card-body">
						<h5 class="card-title">Hone your Message</h5>
						<p class="card-text">
							A/B Test your message
					</div>
				</div>
			</div>

			<div class="col">
				<div class="card">
					<img
					alt="image"
					src="{{url_for('static', filename='images/check_icon.svg')}}"
					class="container-fluid"
					width="50"
					/>
					<div class="card-body">
						<h5 class="card-title">Track your job search</h5>
						<p class="card-text">
							Follow up with prospective employers
					</div>
				</div>
			</div>
		</div>
	</div>
	<br/>
{% endblock %}