{% extends 'base.html' %}
{% block content %}

	{% for message in get_flashed_messages() %}
		<div class="alert alert-warning alert-dismissible fade show" role="alert">
		<strong>	{{ message }}</strong>
		<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
		</div>

	{% endfor %}

	<h1>Job Tracker</h1>
	<br/>
	<table class="table table-hover table-bordered table-striped">
		<thead>
			<tr>
			  <th scope="col">Position</th>
			  <th scope="col">Company</th>
			  <th scope="col">Location</th>
			  <th scope="col">Salary Range</th>
			  <th scope="col">Status</th>
			  <th scope="col">Email</th>
			  <th scope="col">User</th>
			</tr>
		  </thead>
		{% for job in our_jobs %}
			<tr>
				<td><a href="{{url_for('update', id=job.id)}}">{{ job.position }}</a></td>
				<td>{{ job.company }}</td>
				<td>{{ job.location }}</td>
				<td>{{ job.min_salary }} - {{ job.max_salary }}</td>
				<td>{{ job.status }}</td>
				<td>{{ job.email }}</td>
				<td>{{ job.poster_id }}</td>
				<td><a href="{{ url_for('delete', id=job.id)}}">Delete</a></td>
			</tr>
		{% endfor %}
	</table>

	<h1>Temporary place to put users!</h1>
	<br/>
	<table class="table table-hover table-bordered table-striped">
		{% for our_user in our_users %}
			<tr>
				<td>
					<td> {{ our_user.id }}</td>
					<td>{{ our_user.username }}</td>
					<td>{{ our_user.email }} </td> 
					<td> {{our_user.password_hash }} </td>
			</tr>
		{% endfor %}
	</table>

{% endblock %}