{% extends 'base.html' %}
{% block content %}

<div class="shadow p-3 mb-5 bg-body-tertiary rounded">
{% if username %}
	<h1> Username: {{ username }}</h1>
	<h1> Password: {{ password }}</h1>
	<br/>
	<br/>I found this info: 
	Name: {{ pw_to_check.name}} 
	Email: {{ pw_to_check.email}} 
	Passed: {{passed}} <br/>

{% else %}
	<h1> Whats your username and password?</h1>
	<br/>
	<form method="POST">
		{{ form.hidden_tag() }}

		{{ form.username.label(class="form-label") }}
		{{ form.username(class="form-control") }}
		<br/>

		{{ form.password_hash.label(class="form-label") }}
		{{ form.password_hash(class="form-control") }}
		<br/>

		{{ form.submit(class="btn btn-secondary") }}
	</form>
</div>

{% endif %}

{% endblock %}